@charset "UTF-8";

body{
    background-color: rgb(128, 236, 157);
    font-family: Arial, Helvetica, serif;
}
h1{
    color: rgb(2, 49, 13);
}
h2{
    color: rgb(8, 112, 29);
}
h1#pricipal{
       /*em HTML é id="..", mas em CSS é #.. (pode apenas 1 elemento)*/
       /*em HTML é class="..", em CSS é . (pode 1 ou mais elemntos)*/
        text-align: center;
        font-family: "Satisfy", cursive;
        font-weight: 400;
        font-style: normal;
        color: white;
        background-color: rgb(2, 49, 13);
      }
h1#secundario{
        text-align: center;
}
      .basico{
        color: rgb(19, 17, 135);
      }

      .intermeidario{
        color:  rgb(10, 49, 19);
      }

      .avançado{
        color:#fd2b2b;
      }
      .destaque{
        background-color: rgba(195, 195, 83, 0.501);
      }